<div>
    <div class="grid-2col-type">
        <label for="data.vehicle_type.value">{{localize data.vehicle_type.label}}:</label>
        <input title="{{localize data.vehicle_type.label}}" name="data.vehicle_type.value" type="text"
               value="{{data.vehicle_type.value}}" size="12" data-dtype="{{data.vehicle_type.type}}"/>
    </div>
    <div class="grid-4col-vehicle-skill">
        <label for="data.skill.value">{{localize data.skill.label}}:</label>
        <input title="{{localize data.skill.label}}" name="data.skill.value" type="text"
               value="{{data.skill.value}}" size="12" data-dskill="{{data.skill.skill}}"/>
        <label for="data.specialization.value">{{localize data.specialization.label}}:</label>
        <input title="{{localize data.specialization.label}}" name="data.specialization.value" type="text"
               value="{{data.specialization.value}}" size="12" data-dspecialization="{{data.specialization.specialization}}"/>
    </div>
    <div class="grid grid-4col">
        <div class="flexrow flex-group-left">
            <label for="data.scale.score">{{localize data.scale.label}}:</label>
            <input title="{{localize data.scale.label}}" name="data.scale.score" type="number" min="0" max="99"
                   value="{{data.scale.score}}" placeholder="0" data-dtype="{{data.scale.type}}"/>
        </div>
        {{#if data.atmospheric.value}}
            <div class="flex-left">
                <label for="data.move.value">{{localize data.move.label}}:</label>
                <div class="grid grid-3col">
                    <input title="{{localize 'OD6S.SPACE_MOVE'}}" name="data.move.value" type="number" min="0"
                           max="99"
                           value="{{data.move.value}}" placeholder="10" data-dtype="{{data.move.type}}"/>
                    <input title="{{localize data.atmospheric.move.label}}" name="data.atmospheric.move.value"
                           type="number" min="0" max="9999" value="{{data.atmospheric.move.value}}"
                           data-dtype="{{data.atmospheric.move.type}}"/>
                    <input title="{{localize data.atmospheric.kph.label}}" name="data.atmospheric.kph.value"
                           type="number" min="0" max="9999" value="{{data.atmospheric.kph.value}}"
                           data-dtype="{{data.atmospheric.kph.type}}"/>
                </div>
            </div>
        {{else}}
            <div class="flexrow flex-group-left">
                <label for="data.move.value">{{localize data.move.label}}:</label>
                <input title="{{localize data.move.label}}" name="data.move.value" type="number" min="0"
                       max="99"
                       value="{{data.move.value}}" placeholder="10" data-dtype="{{data.move.type}}"/>
            </div>
        {{/if}}
        <div class="flexrow flex-group-left">
            <label for="data.interstellar_drive.value">{{localize (getInterstellarDriveName)}}:</label>
            <input title="{{localize (getInterstellarDriveName)}}" name="data.interstellar_drive.value"
                   type="number" min="0" max="99"
                   value="{{data.interstellar_drive.value}}" placeholder="10"
                   data-dtype="{{data.interstellar_drive.type}}"/>
        </div>
        <div class="flexrow flex-group-left">
            <label for="data.crew.value">{{localize data.crew.label}}:</label>
            <input title="{{localize data.crew.label}}" name="data.crew.value" type="number" min="0" max="99"
                   value="{{data.crew.value}}" placeholder="10" data-dtype="{{data.crew.type}}"/>
        </div>
        <div class="flexrow flex-group-left">
            <label for="data.passengers.value">{{localize data.passengers.label}}:</label>
            <input title="{{localize data.passengers.label}}" name="data.passengers.value" type="number" min="0"
                   max="99"
                   value="{{data.passengers.value}}" placeholder="0" data-dtype="{{data.passengers.type}}"/>
        </div>
        <div class="flexrow flex-group-left">
            <label for="data.cargo_capacity.value">{{localize data.cargo_capacity.label}}:</label>
            <input title="{{localize data.cargo_capacity.label}}" name="data.cargo_capacity.value" type="number"
                   min="0" max="99"
                   value="{{data.cargo_capacity.value}}" placeholder="0"
                   data-dtype="{{data.cargo_capacity.type}}"/>
        </div>
        <div class="flexrow flex-group-left">
            <label for="data.length.value">{{localize data.length.label}}:</label>
            <input title="{{localize data.length.label}}" name="data.length.value" type="number" min="0"
                   max="99"
                   value="{{data.length.value}}" placeholder="0" data-dtype="{{data.length.type}}"/>
        </div>
        <div class="flexrow flex-group-left">
            <label for="data.tonnage.value">{{localize data.tonnage.label}}:</label>
            <input title="{{localize data.tonnage.label}}" name="data.tonnage.value" type="number" min="0"
                   max="99"
                   value="{{data.tonnage.value}}" placeholder="0" data-dtype="{{data.tonnage.type}}"/>
        </div>
        {{#if (ne (getCustomField1) "")}}
            {{#if (isCustomFieldUsed 1 actor.type)}}
                <div class="flexrow flex-group-center">
                    <label for="data.custom1.value">{{getCustomField1Short}}:</label>
                    <input title="{{getCustomField1Short}}" name="data.custom1.value" type="{{getCustomField1Type}}"
                           value="{{data.custom1.value}}" data-dtype="{{getCustomField1FType}}"
                        {{#if (eq (getCustomField1Type) "number") }}
                           min="0" max="9999" placeholder="0"
                        {{/if}}/>
                </div>
            {{/if}}
        {{/if}}
        {{#if (ne (getCustomField2) "")}}
            {{#if (isCustomFieldUsed 2 actor.type)}}
                <div class="flexrow flex-group-center">
                    <label for="data.custom2.value">{{getCustomField2Short}}:</label>
                    <input title="{{getCustomField2Short}}" name="data.custom2.value" type="{{getCustomField2Type}}"
                           value="{{data.custom2.value}}" data-dtype="{{getCustomField2FType}}"
                        {{#if (eq (getCustomField2Type) "number") }}
                           min="0" max="9999" placeholder="0"
                        {{/if}}/>
                </div>
            {{/if}}
        {{/if}}
        {{#if (ne (getCustomField3) "")}}
            {{#if (isCustomFieldUsed 3 actor.type)}}
                <div class="flexrow flex-group-center">
                    <label for="data.custom3.value">{{getCustomField3Short}}:</label>
                    <input title="{{getCustomField3Short}}" name="data.custom3.value" type="{{getCustomField3Type}}"
                           value="{{data.custom3.value}}" data-dtype="{{getCustomField3FType}}"
                        {{#if (eq (getCustomField3Type) "number") }}
                           min="0" max="9999" placeholder="0"
                        {{/if}}/>
                </div>
            {{/if}}
        {{/if}}
        {{#if (ne (getCustomField4) "")}}
            {{#if (isCustomFieldUsed 4 actor.type)}}
                <div class="flexrow flex-group-center">
                    <label for="data.custom4.value">{{getCustomField4Short}}:</label>
                    <input title="{{getCustomField4Short}}" name="data.custom4.value" type="{{getCustomField4Type}}"
                           value="{{data.custom4.value}}" data-dtype="{{getCustomField4FType}}"
                        {{#if (eq (getCustomField4Type) "number") }}
                           min="0" max="9999" placeholder="0"
                        {{/if}}/>
                </div>
            {{/if}}
        {{/if}}
        <div class="flexrow flex-group-left">
            <label for="data.damage.value">{{localize 'OD6S.DAMAGE'}}:</label>
            <select name="data.damage.value" id="data.damage.value" style="width: 70px;">
                {{#select data.damage.value}}
                    {{#each (getVehicleDamageLevels) as |level key|}}
                        <option value="{{ key }}">
                            {{localize key}}
                        </option>
                    {{/each}}
                {{/select}}
            </select>
        </div>
        <div class="flexrow flex-group-left"
             title="{{localize 'OD6S.ATMOSPHERIC_CAPABILITY'}}">
            <label for="data.atmospheric.value">{{localize 'OD6S.ATMOSPHERIC_CAPABILITY'}}</label>
            <input id="data.atmospheric.value" name="data.atmospheric.value" type="checkbox"
                   data-dtype="Boolean" {{checked data.atmospheric.value}}/>
        </div>
        <div class="flexrow flex-group-left sheetmode">
            <label for="data.sheetmode.value">{{localize 'OD6S.SHEETMODE'}}:</label>
            <select name="data.sheetmode.value" id="data.sheetmode.value" style="width: 70px;">
                {{#select data.sheetmode.value}}
                    <option value="normal">{{localize 'OD6S.SHEETMODE_NORMAL'}}</option>
                    <option value="freeedit">{{localize 'OD6S.SHEETMODE_FREEDIT'}}</option>
                {{/select}}
            </select>
        </div>
    </div>
</div>