<div>
    <div class="grid grid-2col">
        <div>
            <div
                {{#if (eq data.sheetmode.value "freeedit")}}
                class="grid grid-3col-type"
                {{else}}
                class="grid grid-2col-type"
                {{/if}}>
                <label for="data.chartype.content">{{localize data.chartype.label}}:</label>
                <input title="{{localize data.chartype.label}}" name="data.chartype.content" type="text"
                       value="{{data.chartype.content}}" placeholder="{{localize data.chartype.label}}"
                       data-dtype="{{data.chartype.type}}"/>
                {{#if (eq data.sheetmode.value "freeedit")}}
                    {{#if (displayCharacterTemplateClear actor)}}
                        <button class="reset-template">{{localize 'OD6S.CLEAR'}}</button>
                    {{/if}}
                {{/if}}
            </div>
        </div>
        <div>
            <div
                {{#if (eq data.sheetmode.value "freeedit")}}
                class="grid grid-3col-species"
                {{else}}
                class="grid grid-2col-species"
                {{/if}}>
                <label for="data.species.content">{{localize data.species.label}}:</label>
                <input title="{{localize data.species.label}}" name="data.species.content" type="text"
                       value="{{data.species.content}}" placeholder="{{localize data.species.label}}"
                       data-dtype="{{data.species.type}}"/>
                {{#if (eq data.sheetmode.value "freeedit")}}
                    {{#if (displaySpeciesTemplateClear actor)}}
                        <button class="reset-species-template">{{localize 'OD6S.CLEAR'}}</button>
                    {{/if}}
                {{/if}}
            </div>
        </div>
    </div>
    <div class="grid grid-4col header-fields">
        <div class="flexrow flex-group-center">
            <label for="data.characterpoints.value">{{localize data.characterpoints.short_label}}:</label>
            <input title="{{localize data.characterpoints.label}}" name="data.characterpoints.value"
                   type="number" min="0" max="9999"
                   value="{{data.characterpoints.value}}" placeholder="0"
                   data-dtype="{{data.characterpoints.type}}"/>
        </div>
        <div class="flexrow flex-group-center">
            <label for="data.fatepoints.value">{{getFatePointsShortName}}:</label>
            <input title="{{getFatePointsShortName}}" name="data.fatepoints.value" type="number"
                   min="0" max="9999" value="{{data.fatepoints.value}}" placeholder="0"
                   data-dtype="{{data.fatepoints.type}}"/>
            <div class="flexrow flex-group-left fatepointeffect"
                 title="{{localize 'OD6S.IN_EFFECT'}}">
                <label for="fpInEffect"></label>
                <input id="fpInEffect" type="checkbox"
                    {{#unless (gt data.fatepoints.value 0) }}
                        {{#unless actor.data.flags.od6s.fatepointeffect}}disabled{{/unless}}
                    {{/unless}}
                       data-dtype="Boolean" {{checked actor.data.flags.od6s.fatepointeffect}}/>
            </div>
        </div>
        {{#if (ne (getCustomField1) "")}}
            {{#if (isCustomFieldUsed 1 actor.type)}}
                <div class="flexrow flex-group-center">
                    <label for="data.custom1.value">{{getCustomField1Short}}:</label>
                    <input title="{{getCustomField1Short}}" name="data.custom1.value" type="{{getCustomField1Type}}"
                           value="{{data.custom1.value}}" data-dtype="{{getCustomField1FType}}"
                        {{#if (eq (getCustomField1Type) "number") }}
                           min="0" max="9999" placeholder="0"
                        {{/if}}/>
                </div>
            {{/if}}
        {{/if}}
        {{#if (ne (getCustomField2) "")}}
            {{#if (isCustomFieldUsed 2 actor.type)}}
                <div class="flexrow flex-group-center">
                    <label for="data.custom2.value">{{getCustomField2Short}}:</label>
                    <input title="{{getCustomField2Short}}" name="data.custom2.value" type="{{getCustomField2Type}}"
                           value="{{data.custom2.value}}" data-dtype="{{getCustomField2FType}}"
                        {{#if (eq (getCustomField2Type) "number") }}
                           min="0" max="9999" placeholder="0"
                        {{/if}}/>
                </div>
            {{/if}}
        {{/if}}
        {{#if (ne (getCustomField3) "")}}
            {{#if (isCustomFieldUsed 3 actor.type)}}
                <div class="flexrow flex-group-center">
                    <label for="data.custom3.value">{{getCustomField3Short}}:</label>
                    <input title="{{getCustomField3Short}}" name="data.custom3.value" type="{{getCustomField3Type}}"
                           value="{{data.custom3.value}}" data-dtype="{{getCustomField3FType}}"
                        {{#if (eq (getCustomField3Type) "number") }}
                           min="0" max="9999" placeholder="0"
                        {{/if}}/>
                </div>
            {{/if}}
        {{/if}}
        {{#if (ne (getCustomField4) "")}}
            {{#if (isCustomFieldUsed 4 actor.type)}}
                <div class="flexrow flex-group-center">
                    <label for="data.custom4.value">{{getCustomField4Short}}:</label>
                    <input title="{{getCustomField4Short}}" name="data.custom4.value" type="{{getCustomField4Type}}"
                           value="{{data.custom4.value}}" data-dtype="{{getCustomField4FType}}"
                        {{#if (eq (getCustomField4Type) "number") }}
                           min="0" max="9999" placeholder="0"
                        {{/if}}/>
                </div>
            {{/if}}
        {{/if}}
        <div class="flexrow flex-group-center">
            <label for="data.metaphysicsextranormal.value">{{getMetaphysicsExtranormalName}}:</label>
            <input type="checkbox" name="data.metaphysicsextranormal.value"
                   id="data.metaphysicsextranormal.value" data-dtype="Boolean"
                {{checked data.metaphysicsextranormal.value}}>
        </div>
        <div class="flexrow flex-group-center">
            <label for="data.move.value">{{localize data.move.label}}:</label>
            <input title="{{localize data.move.label}}" name="data.move.value" type="number" min="0" max="9999"
                   value="{{data.move.value}}" placeholder="10" data-dtype="{{data.move.type}}"/>
        </div>
        <div class="flexrow flex-group-center">
            <label for="data.credits.value">{{localize (getCurrencyLabel)}}:</label>
            <input title="{{localize (getCurrencyLabel)}}" name="data.credits.value" type="number" min="0"
                   max="999999999999" value="{{data.credits.value}}" placeholder="{{data.credits.value}}"
                   data-dtype="{{data.credits.type}}"/>
        </div>
        {{> (getWoundsTemplate)}}
        <div class="flexrow flex-group-left sheetmode">
            <label for="data.sheetmode.value">{{localize 'OD6S.SHEETMODE'}}:</label>
            <select name="data.sheetmode.value" id="data.sheetmode.value" style="width: 70px;">
                {{#select data.sheetmode.value}}
                    <option value="normal">{{localize 'OD6S.SHEETMODE_NORMAL'}}</option>
                    <option value="advance">{{localize 'OD6S.SHEETMODE_ADVANCE'}}</option>
                    <option value="freeedit">{{localize 'OD6S.SHEETMODE_FREEDIT'}}</option>
                {{/select}}
            </select>
        </div>
    </div>
</div>