<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"
             alt="{{localize 'OD6S.ALT_ITEM_IMAGE'}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "OD6S.DESCRIPTION"}}</a>
        <a class="item" data-tab="attributes">{{localize "OD6S.ATTRIBUTES"}}</a>
        <a class="item" data-tab="labels">{{localize "OD6S.LABELS"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            <div class="editor">{{editor content=data.data.description target="data.description" button=true owner=owner
                                         editable=editable}}</div>
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <div>{{localize 'OD6S.TYPE'}}: {{localize "OD6S.SPECIES_TEMPLATE"}}</div>
            <div class="grid grid-2col">
                {{#each data.data.attributes as |data key|}}
                    {{#unless (eq key "met") }}
                        <div>
                            <div class="grid grid-5col-attributes">
                                <div class="attribute_min flexrow flex-group-center"
                                     title="{{localize 'OD6S.ATTRIBUTE_MINIMUM_MAXIMUM'}}">{{getAttributeName key}}:</div>
                                <div class="flex-group-center" title="{{localize 'OD6S.ATTRIBUTE_MIN'}}"
                                     data-type="attribute_min"
                                     data-min="{{data.min}}"
                                     data-label="{{key}}">
                                    <b>{{diceFromScore data.min}}</b>D+<b>{{pipsFromScore data.min}}</b>
                                </div>
                                <div class="edittemplateattribute flexrow flex-group-center"
                                     title="{{localize 'OD6S.ATTRIBUTE_MIN_EDIT'}}"
                                     data-type="attribute"
                                     data-score="{{data.min}}"
                                     data-label="{{key}}"
                                     data-attrname="{{ key }}"
                                     data-sub="min">
                                    <a><i class="fas fa-edit"></i></a>
                                </div>
                                <div class="flex-group-center"
                                     title="{{localize 'OD6S.ATTRIBUTE_MAX'}}"
                                     data-type="attribute_max"
                                     data-max="{{data.max}}"
                                     data-label="{{key}}">
                                    <b>{{diceFromScore data.max}}</b>D+<b>{{pipsFromScore data.max}}</b>
                                </div>
                                <div class="edittemplateattribute flexrow flex-group-center"
                                     title="{{localize 'OD6S.ATTRIBUTE_MAX_EDIT'}}"
                                     data-type="attribute"
                                     data-score="{{data.max}}"
                                     data-label="{{key}}"
                                     data-attrname="{{ key }}"
                                     data-sub="max">
                                    <a><i class="fas fa-edit"></i></a>
                                </div>
                            </div>
                        </div>
                    {{/unless}}
                {{/each}}
            </div>
            <div class="grid grid-2col">
                {{#each (templateItemTypes 'species-template') as |itemType typeKey|}}
                    <div>
                        <div>
                            <div class="flexrow flex-group-center">
                                <div><b>{{localize itemType.label}}</b></div>
                                {{#if itemType.label}}
                                    <div class="item-controls">
                                        <a class="item-control template-item-add"
                                           title="{{localize 'OD6S.ADD'}} {{localize itemType.label}}"
                                           data-type="{{typeKey}}">
                                            <i class="fas fa-plus"></i>
                                        </a>
                                    </div>
                                {{/if}}
                            </div>
                        </div>
                        <div>
                            <ul class="template-item-list draggable">
                                {{#each ../data.data.items as |templateItem key| }}
                                    {{#if (eq templateItem.type typeKey)}}
                                        <li class="template-item">
                                            <div class="template-item-grid">
                                                <div title="{{templateItem.description}}">{{templateItem.name}}</div>
                                                <div class="template-item template-item-control flexrow flex-group-center">
                                                    <a class="template-item-control template-item-edit"
                                                       data-name="{{templateItem.name}}"
                                                       data-type="{{templateItem.type}}"
                                                       data-desc="{{templateItem.description}}"
                                                       title="{{localize 'OD6S.EDIT_ITEM'}}">
                                                        <i class="fas fa-edit"></i></a>
                                                    <a class="template-item-control template-item-delete"
                                                       data-name="{{templateItem.name}}"
                                                       data-type="{{templateItem.type}}"
                                                       title="{{localize 'OD6S.DELETE_ITEM'}}">
                                                        <i class="fas fa-trash"></i></a>
                                                </div>
                                            </div>
                                        </li>
                                    {{/if}}
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>

        {{!--Labels Tab --}}
        {{> systems/od6s/templates/item/item-labels-tags.html }}

    </section>
</form>
