<div class="tab data" data-group="primary" data-tab="data">
    <div class="row">
        <div class="column">
            <h2 class=flex-group-center">{{localize 'OD6S.ACTOR_ID'}}: {{actor.id}}</h2>
            <h2>{{localize 'OD6S.ATTRIBUTES'}}</h2>
            <div class="grid data-attribute-grid">
                {{#each data.attributes as |attribute key|}}
                    <div class="flexrow flex-group-left">
                        {{localize attribute.label}}
                    </div>
                    <div class="flexrow flex-group-left">
                        {{localize 'OD6S.BASE'}}:{{attribute.base}}
                    </div>
                    <div class="flexrow flex-group-left">
                        <label for="data.attributes.{{key}}.mod">
                            {{localize 'OD6S.MOD'}}:
                        </label>
                        <input name="data.attributes.{{key}}.mod" id="data.attributes.{{key}}.mod" type="number"
                               data-dtype="Number" value="{{attribute.mod}}"/>
                    </div>
                    <div class="flexrow flex-group-left">
                        {{localize 'OD6S.TOTAL'}}:{{attribute.score}}
                    </div>
                    <div class="flexrow flex-group-left">
                        <label for="data.attributes.{{key}}.min">
                            {{localize 'OD6S.MIN'}}:
                        </label>
                        <input name="data.attributes.{{key}}.min" id="data.attributes.{{key}}.min" type="number"
                               data-dtype="Number" value="{{attribute.min}}"/>
                    </div>
                    <div class="flexrow flex-group-left">
                        <label for="data.attributes.{{key}}.max">
                            {{localize 'OD6S.MAX'}}:
                        </label>
                        <input name="data.attributes.{{key}}.max" id="data.attributes.{{key}}.max" type="number"
                               data-dtype="Number" value="{{attribute.max}}"/>
                    </div>
                {{/each}}
            </div>
            <div class="grid grid-3col">
                <div class="flexrow flex-group-left">
                    {{ localize 'OD6S.SCALE'}}
                </div>
                <div class="flexrow flex-group-left">
                    <label for="data.scale.score">
                        {{localize "OD6S.TOTAL"}}:
                    </label>
                    <input name="data.scale.score" id="data.scale.score" type="number" data-dtype="Number"
                           value="{{data.scale.score}}"/>
                </div>
                <div class="flexrow flex-group-left">
                    <label for="data.scale.mod">
                        {{localize 'OD6S.MOD'}}:
                    </label>
                    <input name="data.scale.mod" id="data.scale.mod" type="number"
                           data-dtype="Number" value="{{data.scale.mod}}"/>
                </div>
            </div>
            <h2>{{localize 'OD6S.COMBAT'}}</h2>
            <div class="grid data-combat-defense-grid">
                {{#each (getConfig 'data_tab' 'defense') as |label key|}}
                    <div class="flexrow flex-group-left">
                        {{localize label}}
                    </div>
                    <div class="flexrow flex-group-left">
                        <label for="data.{{key}}.mod">
                            {{ localize 'OD6S.MOD'}}:
                        </label>
                        <input name="data.{{key}}.mod" id="data.{{key}}.mod" type="number"
                               data-dtype="Number" value="{{#with (lookup ../data [key])~}}{{mod}}{{/with}}"/>
                    </div>
                    <div class="flexrow flex-group-left">
                    </div>
                {{/each}}
                {{#each (getConfig 'data_tab' 'offense') as |label key|}}
                    <div class="flexrow flex-group-left">
                        {{localize label}}
                    </div>
                    <div class="flexrow flex-group-left">
                        <label for="data.{{key}}.mod">
                            {{ localize 'OD6S.MOD'}}:
                        </label>
                        <input name="data.{{key}}.mod" id="data.{{key}}.mod" type="number"
                               data-dtype="Number" value="{{#with (lookup ../data [key])~}}{{mod}}{{/with}}"/>
                    </div>
                    <div class="flexrow flex-group-left">
                    </div>
                {{/each}}
            </div>
        </div>

        <div class="column">
            <h2>{{localize 'OD6S.ACTOR_FLAGS'}}</h2>
            <ul class="flags-list">
                {{#each actor.data.flags.od6s as |value key|}}
                    <li class="flag" data-flag="{{key}}" data-value="{{value}}">
                        <div class="grid grid-2col">
                            <div class="flexrow flex-group-left" title="{{key}}">
                                {{key}}
                            </div>
                            <div class="flexrow flex-group-left">
                                {{value}}
                            </div>
                        </div>
                    </li>
                {{/each}}
            </ul>
            <button class="vehicle-exit">{{localize 'OD6S.REMOVE_FROM_VEHICLE'}}</button>
            <h2>{{localize 'OD6S.ITEMS'}}</h2>
            <ul class="items-list">
                {{#each actor.items as |item key|}}
                    <li class="item-data" data-item-id="{{item.id}}">
                        <div class="grid data-grid">
                            <div class="flexrow flex-group-left" title="{{item.data.description}}">{{item.name}}</div>
                            <div class="item-controls flexrow flex-group-center"
                                 data-item-id="{{item.id}}"
                                 data-type="item">
                                <a class="item-control item-edit small-font" data-item-id="{{item.id}}"
                                   title="Edit item">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a data-item-id="{{item.id}}"
                                   data-type="item"
                                   class="item-control item-delete small-font"
                                   title="Delete item">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </div>
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>