<div class="grid grid-2col">
    <div>
        <div class="grid grid-2col-species">
            <label for="data.species.content">{{localize data.species.label}}:</label>
            <input title="{{localize data.species.label}}" name="data.species.content" type="text"
                   value="{{data.species.content}}" placeholder="{{localize data.species.label}}"
                   data-dtype="{{data.species.type}}"/>
        </div>
    </div>
</div>
<div class="grid grid-4col header-fields">
    <div class="flexrow flex-group-center">
        <label for="data.move.value">{{localize data.move.label}}:</label>
        <input title="{{localize data.move.label}}" name="data.move.value" type="number" min="0" max="99"
               value="{{data.move.value}}" placeholder="10" data-dtype="{{data.move.type}}"/>
    </div>
    {{> (getWoundsTemplate)}}
    {{#if (ne (getCustomField1) "")}}
        {{#if (isCustomFieldUsed 1 actor.type)}}
            <div class="flexrow flex-group-center">
                <label for="data.custom1.value">{{getCustomField1Short}}:</label>
                <input title="{{getCustomField1Short}}" name="data.custom1.value" type="{{getCustomField1Type}}"
                       value="{{data.custom1.value}}" data-dtype="{{getCustomField1FType}}"
                    {{#if (eq (getCustomField1Type) "number") }}
                       min="0" max="9999" placeholder="0"
                    {{/if}}/>
            </div>
        {{/if}}
    {{/if}}
    {{#if (ne (getCustomField2) "")}}
        {{#if (isCustomFieldUsed 2 actor.type)}}
            <div class="flexrow flex-group-center">
                <label for="data.custom2.value">{{getCustomField2Short}}:</label>
                <input title="{{getCustomField2Short}}" name="data.custom2.value" type="{{getCustomField2Type}}"
                       value="{{data.custom2.value}}" data-dtype="{{getCustomField2FType}}"
                    {{#if (eq (getCustomField2Type) "number") }}
                       min="0" max="9999" placeholder="0"
                    {{/if}}/>
            </div>
        {{/if}}
    {{/if}}
    {{#if (ne (getCustomField3) "")}}
        {{#if (isCustomFieldUsed 3 actor.type)}}
            <div class="flexrow flex-group-center">
                <label for="data.custom3.value">{{getCustomField3Short}}:</label>
                <input title="{{getCustomField3Short}}" name="data.custom3.value" type="{{getCustomField3Type}}"
                       value="{{data.custom3.value}}" data-dtype="{{getCustomField3FType}}"
                    {{#if (eq (getCustomField3Type) "number") }}
                       min="0" max="9999" placeholder="0"
                    {{/if}}/>
            </div>
        {{/if}}
    {{/if}}
    {{#if (ne (getCustomField4) "")}}
        {{#if (isCustomFieldUsed 4 actor.type)}}
            <div class="flexrow flex-group-center">
                <label for="data.custom4.value">{{getCustomField4Short}}:</label>
                <input title="{{getCustomField4Short}}" name="data.custom4.value" type="{{getCustomField4Type}}"
                       value="{{data.custom4.value}}" data-dtype="{{getCustomField4FType}}"
                    {{#if (eq (getCustomField4Type) "number") }}
                       min="0" max="9999" placeholder="0"
                    {{/if}}/>
            </div>
        {{/if}}
    {{/if}}
    <div class="flexrow flex-group-left">
        <label for="data.scale.score">{{localize data.scale.label}}:</label>
        <input title="{{localize data.scale.label}}" name="data.scale.score" type="number" min="0" max="99"
               value="{{data.scale.score}}" placeholder="0" data-dtype="{{data.scale.type}}"/>
    </div>
    <div class="flexrow flex-group-left sheetmode">
        <label for="data.sheetmode.value">{{localize 'OD6S.SHEETMODE'}}:</label>
        <select name="data.sheetmode.value" id="data.sheetmode.value" style="width: 70px;">
            {{#select data.sheetmode.value}}
                <option value="normal">{{localize 'OD6S.SHEETMODE_NORMAL'}}</option>
                <option value="freeedit">{{localize 'OD6S.SHEETMODE_FREEDIT'}}</option>
            {{/select}}
        </select>
    </div>
</div>
</div>