    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="main">{{localize 'OD6S.MAIN'}}</a>
        <a class="item" data-tab="combat">{{localize 'OD6S.TAB_COMBAT'}}</a>
        {{#if (isCrewMember actor) }}
            <a class="item" data-tab="vehicle">{{localize 'OD6S.TAB_VEHICLE'}}</a>
        {{/if}}
        {{#if (hasCybernetics actor) }}
            <a class="item" data-tab="cybernetics">{{localize 'OD6S.TAB_CYBERNETICS'}}</a>
        {{/if}}
        {{#if (eq data.sheetmode.value 'freeedit') }}
            <a class="item" data-tab="data"><i class="fas fa-cog"></i></a>
        {{/if}}
    </nav>
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Attribues Tab --}}
        {{> systems/od6s/templates/actor/npc/tabs/main.html}}

        {{!-- Combat Tab --}}
        {{> systems/od6s/templates/actor/common/tabs/combat.html}}

        {{!-- Vehicle Tab --}}{{#if (isCrewMember actor) }}
        {{> systems/od6s/templates/actor/common/tabs/vehicle.html}}{{/if}}

        {{!-- Owned Cybernetics Tab --}}
        {{>systems/od6s/templates/actor/common/tabs/cybernetics.html}}

        {{#if (eq data.sheetmode.value 'freeedit') }}
        {{!-- Data Tab --}}
            {{> systems/od6s/templates/actor/common/tabs/data.html}}
        {{/if}}
    </section>