<div class="tab data" data-group="primary" data-tab="data">
    <div class="flexrow flex-grou-center">{{localize 'OD6S.ACTOR_ID'}}: {{actor.uuid}}</div>
    <div class="grid grid-2col">
        <div class="flexrow flex-group-left">
            <label for="data.maneuverability.score">{{localize data.maneuverability.label}}:</label>
            <input title="{{localize data.maneuverability.label}}" name="data.maneuverability.score" type="text"
                   value="{{data.maneuverability.score}}" data-dtype="{{data.maneuverability.type}}"/>
        </div>
        <div class="flexrow flex-group-left">
            <label for="data.toughness.score">{{getToughnessName 'vehicle'}}:</label>
            <input title="{{getToughnessName 'vehicle'}}" name="data.toughness.score" type="text"
                   value="{{data.toughness.score}}" data-dtype="{{data.toughness.type}}"/>
        </div>
        <div class="flexrow flex-group-left">
            <label for="data.shields.value">{{localize data.shields.label}}:</label>
            <input title="{{localize data.shields.label}}" name="data.shields.value" type="text"
                   value="{{data.shields.value}}" data-dtype="{{data.shields.type}}"/>
        </div>
        <div class="flexrow flex-group-left">
            <label for="data.price.value">{{localize data.price.label}}:</label>
            <input title="{{localize data.price.label}}" name="data.price.value" type="text"
                   value="{{data.price.value}}" data-dtype="{{data.price.type}}"/>
        </div>
        <div class="flexrow flex-group-left">
            <label for="data.cost.value">{{localize data.cost.label}}:</label>
            <input title="{{localize data.cost.label}}" name="data.cost.value" type="text"
                   value="{{data.cost.value}}" data-dtype="{{data.cost.type}}"/>
        </div>
        {{#if (gt data.shields.value 0)}}
            <div class="flexrow flex-group-left">
                <label for="data.shields.skill.value">{{localize 'OD6S.SHIELDS'}} {{localize 'OD6S.SKILL'}}:</label>
                <input title="{{localize 'OD6S.SHIELDS'}} {{localize 'OD6S.SKILL'}}"
                       name="data.shields.skill.value" type="text"
                       value="{{data.shields.skill.value}}" data-dtype="String"/>
            </div>
        {{/if}}
        <div class="flexrow flex-group-left">
            <label for="data.armor.score">{{localize data.armor.label}}:</label>
            <input title="{{localize data.armor.label}}" name="data.armor.score" type="text"
                   value="{{data.armor.score}}" data-dtype="{{data.armor.type}}"/>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="grid-2col-attributes">
                {{#each data.crewmembers as |crewmember|}}
                    <div class="flexrow flex-group-left">{{crewmember.name}}</div>
                    <div class="flexrow flex-group-center">
                        <a data-crewId="{{crewmember}}"
                           data-vehicleId="{{ ../actor.uuid}}"
                           data-type="crewmember"
                           class="item-control crew-delete small-font"
                           title="{{localize 'OD6S.REMOVE_FROM_VEHICLE'}}">
                            <i class="fas fa-trash"></i>
                        </a>
                    </div>
                {{/each}}
            </div>
        </div>
        <div class="column">
            {{#if (getSensorsConfig)}}
                <div class="flexrow flex-group-left">
                    <label for="data.sensors.value">{{localize data.sensors.label}}:</label>
                    <input title="{{localize data.sensors.label}}" name="data.sensors.value" type="checkbox"
                           id="data.sensors.value"
                           data-dtype="{{data.sensors.type}}" {{checked data.sensors.value}}/>
                </div>
                {{#if data.sensors.value }}
                    <div class="flexrow flex-group-left">
                        <label for="data.sensors.skill">{{localize 'OD6S.SENSORS'}} {{localize 'OD6S.SKILL'}}
                            :</label>
                        <input title="{{localize 'OD6S.SENSORS'}} {{localize 'OD6S.SKILL'}}"
                               name="data.sensors.skill" type="text"
                               value="{{data.sensors.skill}}" data-dtype="String"/>
                    </div>
                    {{#each data.sensors.types as |sensortype key|}}
                        <div class="flexrow">
                            <div class="flexrow flex-group-left">
                                {{localize sensortype.label}}
                            </div>
                            <div class="flexrow flex-group-left">
                                <label for="data.sensors.types.{{key}}.range">{{localize 'OD6S.RANGE'}}:</label>
                                <input title="{{localize 'OD6S.RANGE'}}" id="data.sensors.types.{{key}}.range"
                                       name="data.sensors.types.{{key}}.range" data-dtype="{{sensortype.type}}"
                                       value="{{sensortype.range}}">
                            </div>
                            <div class="flexrow flex-group-left">
                                <label for="data.sensors.types.{{key}}.score">{{localize 'OD6S.SCORE'}}:</label>
                                <input title="{{localize 'OD6S.SCORE'}}" id="data.sensors.types.{{key}}.score"
                                       name="data.sensors.types.{{key}}.score" data-dtype="{{sensortype.type}}"
                                       value="{{sensortype.score}}">
                            </div>
                        </div>
                    {{/each}}
                {{/if}}
            {{/if}}
        </div>
    </div>
    <div>
        <ul class="items-list">
            {{#each actor.data.items as |item key|}}
                <li class="items item" data-item-id="{{item.id}}">
                    <div class="grid-2col-attributes">
                        <div class="flexrow flex-group-left"
                             title="{{item.description}}">{{item.name}}</div>
                        <a data-item-id="{{item.id}}"
                           data-type="item"
                           class="item-control item-delete small-font"
                           title="Delete item">
                            <i class="fas fa-trash"></i>
                        </a>
                    </div>
                </li>
            {{/each}}
        </ul>
    </div>
</div>